.table-fetch{
    max-width: 50%;
    margin: auto;
}
.table-problem-1{
    width: 100%;
}
.table-problem-1 th{
    border: 1px solid black;
    background-color: rgba(18, 17, 17, 0.9);
    color: white;
    padding: 1% 5% 1% 5%;
}
.table-problem-1 tr{
    border: none;
}
.cus-name{
    border: 1px solid black !important;
}
.table-problem-1 td{
    border: 1px solid black;
    padding: 1% 3% 1% 3%;
}
.cus-name td{
    border: none;
}
.space td{
    border: none;
    padding-top: 20px;
}
